In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load data from Github
df = pd.read_csv("https://github.com/ArinB/MSBA-CA-Data/raw/main/CA05/movies_recommendation_data.csv")
df

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0
5,98,21,6.8,0,1,0,0,1,0,1,0
6,31,Gifted,7.6,0,1,0,0,0,0,0,0
7,3,Travelling Salesman,5.9,0,1,0,0,0,1,0,0
8,51,Avatar,7.9,0,0,0,0,0,0,0,0
9,47,The Karate Kid,7.2,0,1,0,0,0,0,0,0
10,50,A Brilliant Young Mind,7.2,0,1,0,0,0,0,0,0
11,49,A Time To Kill,7.4,0,1,1,0,1,0,0,0
12,30,Interstellar,8.6,0,1,0,0,0,0,0,0
13,94,The Wolf of Wall Street,8.2,1,0,0,1,1,0,0,0
14,6,Black Panther,7.4,0,0,0,0,0,0,0,0
15,73,Inception,8.8,0,0,0,0,0,0,0,0
16,44,The Wind Rises,7.8,1,1,0,0,0,0,0,0
17,65,Spirited Away,8.6,0,0,0,0,0,0,0,0
18,48,Finding Forrester,7.3,0,1,0,0,0,0,0,0
19,27,The Fountain,7.3,0,0,0,0,0,0,0,0
20,57,The DaVinci Code,6.6,0,0,1,0,0,1,0,0
21,57,Stand and Deliver,7.3,0,1,0,0,0,0,0,0
22,14,The Terminator,8.0,0,0,0,0,0,0,0,0
23,69,21 Jump Street,7.2,0,0,0,1,1,0,0,0
24,98,The Avengers,8.1,0,0,0,0,0,0,0,0
25,17,Thor: Ragnarok,7.9,0,0,0,1,0,0,0,0
26,12,Spirit: Stallion of the Cimarron,7.1,0,0,0,0,0,0,0,0
27,1,Hacksaw Ridge,8.2,1,1,0,0,0,0,1,0
28,86,12 Years a Slave,8.1,1,1,0,0,0,0,1,0
29,46,Queen of Katwe,7.4,1,1,0,0,0,0,0,0

In [3]:
#drop 'label' column
df = df.drop('Label',axis =1)
df

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0
5,98,21,6.8,0,1,0,0,1,0,1
6,31,Gifted,7.6,0,1,0,0,0,0,0
7,3,Travelling Salesman,5.9,0,1,0,0,0,1,0
8,51,Avatar,7.9,0,0,0,0,0,0,0
9,47,The Karate Kid,7.2,0,1,0,0,0,0,0
10,50,A Brilliant Young Mind,7.2,0,1,0,0,0,0,0
11,49,A Time To Kill,7.4,0,1,1,0,1,0,0
12,30,Interstellar,8.6,0,1,0,0,0,0,0
13,94,The Wolf of Wall Street,8.2,1,0,0,1,1,0,0
14,6,Black Panther,7.4,0,0,0,0,0,0,0
15,73,Inception,8.8,0,0,0,0,0,0,0
16,44,The Wind Rises,7.8,1,1,0,0,0,0,0
17,65,Spirited Away,8.6,0,0,0,0,0,0,0
18,48,Finding Forrester,7.3,0,1,0,0,0,0,0
19,27,The Fountain,7.3,0,0,0,0,0,0,0
20,57,The DaVinci Code,6.6,0,0,1,0,0,1,0
21,57,Stand and Deliver,7.3,0,1,0,0,0,0,0
22,14,The Terminator,8.0,0,0,0,0,0,0,0
23,69,21 Jump Street,7.2,0,0,0,1,1,0,0
24,98,The Avengers,8.1,0,0,0,0,0,0,0
25,17,Thor: Ragnarok,7.9,0,0,0,1,0,0,0
26,12,Spirit: Stallion of the Cimarron,7.1,0,0,0,0,0,0,0
27,1,Hacksaw Ridge,8.2,1,1,0,0,0,0,1
28,86,12 Years a Slave,8.1,1,1,0,0,0,0,1
29,46,Queen of Katwe,7.4,1,1,0,0,0,0,0

In [4]:
movie = df['Movie Name']
movie

0                   The Imitation Game
1                           Ex Machina
2                     A Beautiful Mind
3                    Good Will Hunting
4                         Forrest Gump
5                                   21
6                               Gifted
7                  Travelling Salesman
8                               Avatar
9                       The Karate Kid
10              A Brilliant Young Mind
11                      A Time To Kill
12                        Interstellar
13             The Wolf of Wall Street
14                       Black Panther
15                           Inception
16                      The Wind Rises
17                       Spirited Away
18                   Finding Forrester
19                        The Fountain
20                    The DaVinci Code
21                   Stand and Deliver
22                      The Terminator
23                      21 Jump Street
24                        The Avengers
25                      Thor: Ragnarok
26    Spirit: Stallion of the Cimarron
27                       Hacksaw Ridge
28                    12 Years a Slave
29                      Queen of Katwe
Name: Movie Name, dtype: object

In [15]:
movie_list = tuple, [[name] for name in df['Movie Name'].to_list()]
movie_list

(tuple,
 [['The Imitation Game'],
  ['Ex Machina'],
  ['A Beautiful Mind'],
  ['Good Will Hunting'],
  ['Forrest Gump'],
  ['21'],
  ['Gifted'],
  ['Travelling Salesman'],
  ['Avatar'],
  ['The Karate Kid'],
  ['A Brilliant Young Mind'],
  ['A Time To Kill'],
  ['Interstellar'],
  ['The Wolf of Wall Street'],
  ['Black Panther'],
  ['Inception'],
  ['The Wind Rises'],
  ['Spirited Away'],
  ['Finding Forrester'],
  ['The Fountain'],
  ['The DaVinci Code'],
  ['Stand and Deliver'],
  ['The Terminator'],
  ['21 Jump Street'],
  ['The Avengers'],
  ['Thor: Ragnarok'],
  ['Spirit: Stallion of the Cimarron'],
  ['Hacksaw Ridge'],
  ['12 Years a Slave'],
  ['Queen of Katwe']])

In [5]:
# features 
movie_features = df.loc[:,'IMDB Rating':'History']
movie_features

    IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0           8.0          1      1         1       0      0        0        0
1           7.7          0      1         0       0      0        1        0
2           8.2          1      1         0       0      0        0        0
3           8.3          0      1         0       0      0        0        0
4           8.8          0      1         0       0      0        0        0
5           6.8          0      1         0       0      1        0        1
6           7.6          0      1         0       0      0        0        0
7           5.9          0      1         0       0      0        1        0
8           7.9          0      0         0       0      0        0        0
9           7.2          0      1         0       0      0        0        0
10          7.2          0      1         0       0      0        0        0
11          7.4          0      1         1       0      1        0        0
12          8.6          0      1         0       0      0        0        0
13          8.2          1      0         0       1      1        0        0
14          7.4          0      0         0       0      0        0        0
15          8.8          0      0         0       0      0        0        0
16          7.8          1      1         0       0      0        0        0
17          8.6          0      0         0       0      0        0        0
18          7.3          0      1         0       0      0        0        0
19          7.3          0      0         0       0      0        0        0
20          6.6          0      0         1       0      0        1        0
21          7.3          0      1         0       0      0        0        0
22          8.0          0      0         0       0      0        0        0
23          7.2          0      0         0       1      1        0        0
24          8.1          0      0         0       0      0        0        0
25          7.9          0      0         0       1      0        0        0
26          7.1          0      0         0       0      0        0        0
27          8.2          1      1         0       0      0        0        1
28          8.1          1      1         0       0      0        0        1
29          7.4          1      1         0       0      0        0        0

In [6]:
#target
movie_target = df.loc[:,'Movie Name']
movie_target

0                   The Imitation Game
1                           Ex Machina
2                     A Beautiful Mind
3                    Good Will Hunting
4                         Forrest Gump
5                                   21
6                               Gifted
7                  Travelling Salesman
8                               Avatar
9                       The Karate Kid
10              A Brilliant Young Mind
11                      A Time To Kill
12                        Interstellar
13             The Wolf of Wall Street
14                       Black Panther
15                           Inception
16                      The Wind Rises
17                       Spirited Away
18                   Finding Forrester
19                        The Fountain
20                    The DaVinci Code
21                   Stand and Deliver
22                      The Terminator
23                      21 Jump Street
24                        The Avengers
25                      Thor: Ragnarok
26    Spirit: Stallion of the Cimarron
27                       Hacksaw Ridge
28                    12 Years a Slave
29                      Queen of Katwe
Name: Movie Name, dtype: object

In [7]:
#build Knn model


from sklearn.neighbors import NearestNeighbors

#create feature vector for 'The Post'
PostFeature_vector = [7.2, 1, 1, 0, 0, 0, 0, 1]

k = 5
knn = NearestNeighbors(n_neighbors=k, algorithm="auto", metric="minkowski")
knn.fit(movie_features)

# Get the k nearest neighbors
distances, indices = knn.kneighbors([PostFeature_vector])

# for loop to print out the movie name
for movie_title in indices[0]:
    print(df.iloc[movie_title]['Movie Name'])

12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
A Beautiful Mind

c:\Users\19494\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  warnings.warn(

In [8]:
import pickle

In [9]:
#create a pickle file with Knn model 

data = {"model":knn, 
        "IMDB_Rating": np.array(df['IMDB Rating']), 
        "Biography": np.array(df['Biography']),
        "Drama" : np.array(df['Drama']),
        "Thriller" : np.array(df['Thriller']),
        "Comedy" : np.array(df['Comedy']),
        "Crime" : np.array(df['Crime']),
        "Mystery" : np.array(df['Mystery']),
        "History" : np.array(df['History'])
       }
with open('knn_model.pkl','wb') as file:
    pickle.dump(data,file)

In [10]:
# read the pickle file 
with open('knn_model.pkl', 'rb') as file:
    data = pickle.load(file)

In [11]:
knn_loaded = data["model"]
IMDB_Rating = data["IMDB_Rating"]
Biography = data["Biography"]
Drama = data["Drama"]
Thriller = data["Thriller"]
Comedy = data["Comedy"]
Crime = data["Crime"]
Mystery = data["Mystery"]
History = data["History"]

In [22]:
#create feature vector for 'The Post'
PostFeature_vector_arry = np.array([7.2, 1, 1, 0, 0, 0, 0, 1])
PostFeature_vector_arry = PostFeature_vector_arry.reshape(-1,1)
PostFeature_vector_arry

array([[7.2],
       [1. ],
       [1. ],
       [0. ],
       [0. ],
       [0. ],
       [0. ],
       [1. ]])

In [23]:
movie_predict = knn_loaded.fit(PostFeature_vector_arry)
movie_predict

NearestNeighbors()

In [24]:
distances, indices = knn_loaded.kneighbors(PostFeature_vector_arry)

# for loop to print out the movie name
for movie_title in indices[0]:
    print(df.iloc[movie_title]['Movie Name'])

The Imitation Game
Ex Machina
Travelling Salesman
A Beautiful Mind
Gifted